.submit-new-card-container {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto;  
}

.new-card-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}


.card-title {
    grid-column-start: 1;
    grid-row-start: 1;
}

.card-category {
    grid-column-start: 2;
    grid-row-start: 1;
}

.card-notes {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
}

.submit-button {
    grid-column-start: 1;
    grid-row-start: 3;
}