.single-card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

}

.single-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 375px;
  height: auto;
  background-color: aquamarine;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}

.card-back-button {
  margin: 20px;
  width: 100px;
}
.delete-btn-container {
  display: flex;
  justify-content: center;
}

.delete-signle-card-button {
  width: 50px;
  background-color: firebrick;
  margin: 20px;
  border-radius: 5px;
}
