.single-card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

}

.single-card-content {
  width: 300px;
  height: auto;
  background-color: aquamarine;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}

.card-back-button {
  margin: 20px;
  width: 100px;
}

.delete-signle-card-button {
  width: 50px;
  background-color: firebrick;
}